<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&family=Orbitron:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../admin/partials-adm/header-adm') %>
    <div id="container">
    <%- include('../admin/partials-adm/stats-bar-adm') %>
    <div id="content-wrapper">
    <main><%- body %></main>
    </div>
    </div>


</body>
</html>
