<div id="content-wrapper">

<aside>

<div class="box">
<div class="box-header">
<span>TEST</span>
</div>
<div class="box-content">
ssssss
</div>
</div>

</aside>


<main>
    <div class="box background-crt" style="height: 100%;">
        <div class="box-header">
            <span>CENTRUM DOWODZENIA NAJWYŻSZYCH ADMINÓW</span> <span><%= title %></span>
        </div>
            <div class="box-content">

            </div>
        </div>
</main>
</div>