<div id="content-wrapper">

    <!-- Górny rząd: main + aside -->
    <div class="content-row">

        <main>
            <div class="box background-crt">
                <div class="box-header">
                    <span>CENTRUM BUDOWNICZEGO</span> <span><%= title %></span>
                </div>
                <div class="box-content">

                </div>
            </div>
        </main>

        <aside>
            <div class="box">
                <div class="box-header">
                    <span>SZUFLADA</span>
                </div>
                <div class="box-content">

                </div>
            </div>
        </aside>

    </div>

    <div class="content-row-full">
        <div class="box">
            <div class="box-header">
                <span>OPCJE</span>
            </div>
            <div class="box-content">


            </div>
        </div>
    </div>

</div>