<div id="content-wrapper">

<aside>

<div class="box">
<div class="box-header">
<span>TEST</span>
</div>
<div class="box-content">

</div>
</div>

</aside>


<main>
    <div class="box background-crt" style="height: 100%;">
        <div class="box-header">
            <span>CENTRUM DOWODZENIA NAJWYŻSZYCH ADMINÓW</span> <span>ADMIN HUB</span>
        </div>
            <div class="box-content">
            <div class="admin-hub-grid">

                <div class="admin-hub-tile">
                    <button class="nav-admintab" onclick="window.location.href='/admin/pages'">
                        <span class="admin-iconhub">📄</span>
                        <div class="admin-separator"></div>
                        <span class="text-adminhubtab">Strony</span>
                        <div class="text-adminhub">Tutaj znajdziesz księge zarządzania stronami!</div>
                    </button>
                </div>

                <div class="admin-hub-tile">
                    <button class="nav-admintab">
                        <span class="admin-iconhub">👤</span>
                        <div class="admin-separator"></div>
                        <span class="text-adminhubtab">Użyszkodnicy</span>
                        <div class="text-adminhub">Spis powszechny wszystkich userów serwisu!</div>
                    </button>
                </div>

                <div class="admin-hub-tile">
                    <button class="nav-admintab">
                        <span class="admin-iconhub">⚙️</span>
                        <div class="admin-separator"></div>
                        <span class="text-adminhubtab">Konfiguracja</span>
                        <div class="text-adminhub">Ściśle tajne miejsce dostępne tylko dla wybranych!</div>
                    </button>
                </div>

                <div class="admin-hub-tile">
                    <button class="nav-admintab" onclick="window.location.href='/admin/drafting'">
                        <span class="admin-iconhub">🛠️</span>
                        <div class="admin-separator"></div>
                        <span class="text-adminhubtab">Projekty</span>
                        <div class="text-adminhub">Zapraszam Cię do stołu kreślarskiego!</div>
                    </button>
                </div>

                <div class="admin-hub-tile">
                    <button class="nav-admintab" onclick="window.location.href='/admin/inventory'">
                        <span class="admin-iconhub">📦</span>
                        <div class="admin-separator"></div>
                        <span class="text-adminhubtab">Inwentaryzacja</span>
                        <div class="text-adminhub">Dodaj, usuń, sprawdź co już masz na składzie!</div>
                    </button>
                </div>


                <div class="admin-hub-tile">
                    <button class="nav-admintab">
                        <span class="admin-iconhub">🖼️</span>
                        <div class="admin-separator"></div>
                        <span class="text-adminhubtab">Galeria</span>
                        <div class="text-adminhub">Tabela wszystkich dostępnych images na stronie!</div>
                    </button>
                </div>

                <div class="admin-hub-tile">
                    <button class="nav-admintab">
                        <span class="admin-iconhub">🧩</span>
                        <div class="admin-separator"></div>
                        <span class="text-adminhubtab">Addons</span>
                        <div class="text-adminhub">Konfiguracja wszystkich dodatkowych addonów!</div>
                    </button>
                </div>

                <div class="admin-hub-tile">
                    <button class="nav-admintab">
                        <span class="admin-iconhub">🤖</span>
                        <div class="admin-separator"></div>
                        <span class="text-adminhubtab">Złomek</span>
                        <div class="text-adminhub">Miejsce gdzie rozwija się nasz mały projekcik!</div>
                    </button>
                </div>       

                </div>
                
            </div>
                </div>
            </div>
        </div>
</main>
</div>