<header>
    <div class="logo-area">
            <div class="logo-adm">
                <a href="/"><img src="/img/zlomotron-logo.png" alt="Zlomotron Logo"></a>
            </div>
            <div class="fire-text" style="font-size: 14px; font-weight: bold; margin: 12px;"> >>> ADMINOWSKA STRONA MOCY <<< </div>
</header>