
    <div class="stats-bar">
        <div class="online-indicator">
            <span class="online-dot"></span>
            <span>Online: <strong style="color: #76ff03;">1</strong> userów</span>
        </div>
        <div>
            <a href="javascript:history.back()">Wstecz</a>
            <a href="/404">Profil</a>
            <a href="/admin/logout">Wylogowanie</a>
        </div>
    </div>