<header>
    <div class="logo-area">
            <div class="logo-adm">
                <a href="/"><img src="/img/zlomotron-wireframe.png" alt="Zlomotron Wireframe style logo"></a>
            </div>
            <div class="fire-text" style="font-size: 14px; font-weight: bold; margin: 12px;"> >>> WITAJ PRZY STOLE, PRZYWOŁYWACZU <<< </div>
</header>